{{ define "content"}}
{{ partial "blog-banner" . }}
<div class="notepad-wrapper">
	<!-- The notebook cannot be <main> since notepad:last-of-type distinguishes <div> & <main> -->
	<main class="notepad">
		<article>
			<header>
				<h1>{{ .Title }}</h1>
				{{ .Render "metadata" }}
			</header>
			{{ .Content | safeHTML }}
		</article>
	</main>
	{{ with .Site.RegularPages.Related . | first 2}}
	<section class="notepad related-posts">
		<h2 style="margin-top: 0;">Related Posts</h2>
		<hr>
		{{ range . }}
			{{ .Render "summary_h3" }}
		{{ end }}
	</section>
	{{ end }}
</div>
{{ end }}